

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout2.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="~/Login/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/Login/css/main.css">
	<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('../images/hero_bg_2.jpg');">
			<hr />
			<br />
			<br />
			<br />
			<br />
			<br />
			<div class="site-section" id="section-about">
				<div class="container">
					<div class="row mb-5">
						<br />
						<br />
						<div class="col-md-5 ml-auto mb-5 order-md-2" data-aos="fade-up" data-aos-delay="100">
							<br />
							<br />
							<img src="~/images/img_3.jpg" alt="Image" class="img-fluid rounded">
						</div>
						<div class="col-md-6 order-md-1" data-aos="fade-up">
							<div class="text-left pb-1 border-primary mb-4">
								<h2 class="text-primary">About Us</h2>
							</div>
							<p class="text-white">
								Our most precious asset – the term ‘TARS KARDO’ has been gifted to us by the people of Pakistan as an expression of their affection and TRUST.
								It is by delivering on this trust every single day, come rain or shine, over the past four decades that we have become the country’s logistics backbone delivering an array of services to businesses and consumers alike.
								We now pledge to add greater value to our services through a blend of passion and new technologies aimed at enhancing productivity of our clients, whilst simplifying and enriching everyday lives of our consumers.
								Additionally, we will extend our Air and Ground Logistics Services beyond borders opening new trade routes shaped by the emerging regional opportunities, to the benefit of Pakistan.
							</p>

							<ul class="ul-check list-unstyled success">
								<li class="text-white">To love our customer and deliver quality</li>
								<li class="text-white">Justise to all stake holders</li>
								<li class="text-white">Development of our employees in a merit based culture</li>
							</ul>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>