

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout2.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="~/Login/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/Login/css/main.css">
	<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('../images/hero_bg_2.jpg');">
			<hr />
			<br />
			<br />
			<br />
			<div class="container">

				<div class="row">
					<div class="col-md-7 mb-5">
						<br />
						<form action="#" class="p-5 ">
							<center>
								<div class="col-md-7 text-center border-primary">
									<h2 class="font-weight-light text-primary" data-aos="fade">Contact Us</h2>
									<br />
								</div>
							</center>
							<br />

							<div class="row form-group">

								<div class="col-md-6 mb-3 mb-md-0">
									<label class="text-white" for="fname" required>First Name</label>
									<input type="text" id="fname" class="form-control" style="border: 2px solid black; opacity: 0.2;">
								</div>
								<div class="col-md-6">
									<label class="text-white" for="lname" required>Last Name</label>
									<input type="text" id="lname" class="form-control" style="border: 2px solid black; opacity: 0.2;">
								</div>
							</div>

							<div class="row form-group">

								<div class="col-md-12">
									<label class="text-white" for="email" required>Email</label>
									<input type="email" id="email" class="form-control" style="border: 2px solid black; opacity: 0.2;">
								</div>
							</div>

							<div class="row form-group">

								<div class="col-md-12">
									<label class="text-white" for="subject" required>Subject</label>
									<input type="text" id="subject" class="form-control" style="border: 2px solid black; opacity: 0.2;">
								</div>
							</div>

							<div class="row form-group">
								<div class="col-md-12">
									<label class="text-white" for="message" required>Message</label>
									<textarea name="message" id="message" cols="30" rows="7" class="form-control" style="border: 2px solid black; opacity: 0.2;"></textarea>
								</div>
							</div>

							<div class="row form-group">
								<div class="col-md-12">
									<input type="submit" value="Send Message" class="btn btn-primary py-2 px-4 text-white">
								</div>
							</div>


						</form>
					</div>

					<div class="col-md-5">
						<br />
						<br />

						<div class="p-4 mb-3">
							<div class="col-md-7 border-primary">

								<h2 class="font-weight-light text-primary" data-aos="fade">More Info</h2>
								<br />
							</div>
							<br />

							<p class="text-white">
								Our most precious asset – the term ‘TARS KARDO’ has been gifted to us by the people of Pakistan as an expression of their affection and TRUST.
								It is by delivering on this trust every single day, come rain or shine, over the past four decades that we have become the country’s logistics backbone delivering an array of services to businesses and consumers alike.
								We now pledge to add greater value to our services through a blend of passion and new technologies aimed at enhancing productivity of our clients, whilst simplifying and enriching everyday lives of our consumers.
								Additionally, we will extend our Air and Ground Logistics Services beyond borders opening new trade routes shaped by the emerging regional opportunities, to the benefit of Pakistan.
							</p>
							<br />
							<a href="#" class="btn btn-primary px-4 py-2 text-white">Learn More</a></p>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>