@{
	ViewBag.Title = "Service";
}
<link href="~/CSSServices///maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="~/CSSServices///maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="~/CSSServices///cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
<link href="~/CSSServices/Services.css" rel="stylesheet" />
<!------ Include the above in your HEAD tag ---------->
<!-- Team -->
<section id="team" class="pb-5">
	<div class="container">
		<h5 class="section-title h1">OUR SERVICES</h5>
		<div class="row">
			<!-- Team member -->
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="image-flip">
					<div class="mainflip flip-0">
						<div class="frontside">
							<div class="card">
								<div class="card-body text-center">
									<p><img class=" img-fluid" src="https://www.tcsexpress.com/CMSIMG/SubCategory//D-Delivery.png" alt="card image"></p>
									<h4 class="card-title">Domestic Delivery</h4>
									<p class="card-text"> 
									Domestic Express offers its customers a range of cost-effective shipping solutions within Pakistan.</p>
									
								</div>
							</div>
						</div>
						<div class="backside">
							<div class="card">
								<div class="card-body text-center mt-4">
									<h4 class="card-title">Domestic Delivery</h4>
									<p class="card-text">With the largest retail network in the country and a strong fleet of 600+ satellite tracked vehicles; Domestic Express offers its customers a range of cost-effective shipping solutions within Pakistan.</p>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ./Team member -->
			<!-- Team member -->
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
					<div class="mainflip">
						<div class="frontside">
							<div class="card">
								<div class="card-body text-center">
									<p><img class=" img-fluid" src="https://www.tcsexpress.com/CMSIMG/SubCategory//H-Delivery.png" alt="card image"></p>
									<h4 class="card-title">Heavy Weight Delivery</h4>
									<p class="card-text">We make it quick and easy to find out exactly how to get your shipment ready, tracked and monitored.</p>
									
								</div>
							</div>
						</div>
						<div class="backside">
							<div class="card">
								<div class="card-body text-center mt-4">
									<h4 class="card-title">Heavy Weight Delivery</h4>
									<p class="card-text">With TARS, you’ve got a range of options for your important export and import heavy shipments. 
									We make it quick and easy to find out exactly how to get your shipment ready, tracked and monitored.</p>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ./Team member -->
			<!-- Team member -->
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
					<div class="mainflip">
						<div class="frontside">
							<div class="card">
								<div class="card-body text-center">
									<p><img class=" img-fluid" src="https://www.tcsexpress.com/CMSIMG/SubCategory//B-Delivery.png" alt="card image"></p>
									<h4 class="card-title">Bulk Delivery</h4>
									<p class="card-text">Our bulk parcel delivery tools to do all of the leg work for you when sending out multiple packages at once.</p>
									
								</div>
							</div>
						</div>
						<div class="backside">
							<div class="card">
								<div class="card-body text-center mt-4">
									<h4 class="card-title">Bulk Delivery</h4>
									<p class="card-text">Our bulk parcel delivery tools to do all of the leg work for you when sending out multiple packages at once. 
									Our tools work with popular selling platforms to create an automated process that makes things quick and easy for you.</p>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ./Team member -->
			<!-- Team member -->
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
					<div class="mainflip">
						<div class="frontside">
							<div class="card">
								<div class="card-body text-center">
									<p><img class=" img-fluid" src="https://www.tcsexpress.com/CMSIMG/SubCategory//MMS.png" alt="card image"></p>
									<h4 class="card-title">Mailing System</h4>
									<p class="card-text">CS offers a complete printing solution from data receiving, to designing as per the customers’ requirement.</p>
									
								</div>
							</div>
						</div>
						<div class="backside">
							<div class="card">
								<div class="card-body text-center mt-4">
									<h4 class="card-title">Mailing System</h4>
									<p class="card-text">CS offers a complete printing solution from data receiving, to designing and formatting as per the customers’ requirement.</p>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ./Team member -->
			<!-- Team member -->
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
					<div class="mainflip">
						<div class="frontside">
							<div class="card">
								<div class="card-body text-center">
									<p><img class=" img-fluid" src="https://www.tcsexpress.com/CMSIMG/SubCategory//Tracking-Tools.png" alt="card image"></p>
									<h4 class="card-title">Tracking Tools</h4>
									<p class="card-text">Still sending tracking number to receivers manually? </p>
									
								</div>
							</div>
						</div>
						<div class="backside">
							<div class="card">
								<div class="card-body text-center mt-4">
									<h4 class="card-title">Tracking Tools</h4>
									<p class="card-text">Still sending tracking number to receivers manually? 
									TARS has now introduced a system which will automatically send tracking numbers and tracking URLs to your receivers so you may focus more on your business.</p>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ./Team member -->
			<!-- Team member -->
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
					<div class="mainflip">
						<div class="frontside">
							<div class="card">
								<div class="card-body text-center">
									<p><img class=" img-fluid" src="https://www.tcsexpress.com/CMSIMG/SubCategory//Int-Delivery.png" alt="card image"></p>
									<h4 class="card-title">International Delivery</h4>
									<p class="card-text">TARS International Express connects Pakistanis to businesses and individuals around the world.</p>
									
								</div>
							</div>
						</div>
						<div class="backside">
							<div class="card">
								<div class="card-body text-center mt-4">
									<h4 class="card-title">International Delivery</h4>
									<p class="card-text">TARS International Express connects Pakistanis to businesses and individuals around the world. 
									Delivering to over 220+ destinations worldwide, TCS provides fast, secure, and reliable service to its customers.</p>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ./Team member -->
		</div>
	</div>
</section>
<!-- Team -->